@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-stone-100;

  --sidebar-width: 18rem;
  --sidebar-collapsed-width: 3rem;

  --kia-main-color: #BB162B;
  --kia-main-color-transparent: #BB162B33
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.page-container {
  @apply w-[calc(100vw-var(--sidebar-collapsed-width))] min-h-screen flex flex-col;
}

/* --- FORMULARIO PERSONALIZADO --- */

.form-container {
  @apply w-full max-w-4xl mx-auto;
}

.form-title {
  @apply text-2xl font-bold mb-4;
}

.tab-buttons {
  @apply flex w-full mb-0;
}

.tab-button {
  @apply flex-1 py-3 px-4 text-center bg-gray-600 text-gray-200;
}

.tab-button.active-tab {
  @apply bg-gray-700 text-white;
}

.form-section {
  @apply bg-gray-100 p-6 rounded-b-md;
}

.form-section-title {
  @apply text-xl font-medium mb-6;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  column-gap: 1.5rem;
}

.form-field {
  @apply mb-2;
}

.form-label {
  @apply block text-sm mb-2;
}

.form-input {
  @apply w-full p-2 border border-gray-300 rounded bg-white;
}

.submit-container {
  @apply mt-8;
}

.submit-button {
  @apply bg-gray-700 text-white px-4 py-2 rounded border-none cursor-pointer;
}

.dashboard-placeholder {
  @apply bg-gray-100 p-6 rounded-b-md min-h-[400px] flex items-center justify-center;
}

.dashboard-text {
  @apply text-gray-500;
}
