@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-stone-100;

  --sidebar-width: 18rem;
  --sidebar-collapsed-width: 3rem;

  --kia-main-color: #BB162B;
  --kia-main-color-transparent: #BB162B33
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.page-container {
  @apply w-[calc(100vw-var(--sidebar-collapsed-width))] min-h-screen flex flex-col;
}
